apiVersion: apps/v1
kind: Deployment
metadata:
    name: auth-service
    namespace: blog-app
spec:
    replicas: 1
    selector:
        matchLabels:
            app: auth-service
    template:
        metadata:
            labels:
                app: auth-service
        spec:
            containers:
                - name: auth-service
                  image: auth-service:latest
                  imagePullPolicy: Never
                  ports:
                      - containerPort: 5001
                  env:
                      - name: PORT
                        value: "5001"
                      - name: NODE_ENV
                        valueFrom:
                            {
                                configMapKeyRef:
                                    { name: blog-config, key: NODE_ENV },
                            }
                      - name: MONGODB_ATLAS_URL
                        valueFrom:
                            {
                                secretKeyRef:
                                    {
                                        name: blog-secrets,
                                        key: MONGODB_ATLAS_URL,
                                    },
                            }
                      - name: JWT_ACCESS_SECRET
                        valueFrom:
                            {
                                secretKeyRef:
                                    {
                                        name: blog-secrets,
                                        key: JWT_ACCESS_SECRET,
                                    },
                            }
                      - name: JWT_REFRESH_SECRET
                        valueFrom:
                            {
                                secretKeyRef:
                                    {
                                        name: blog-secrets,
                                        key: JWT_REFRESH_SECRET,
                                    },
                            }
---
apiVersion: v1
kind: Service
metadata:
    name: auth-service
    namespace: blog-app
spec:
    selector:
        app: auth-service
    ports:
        - protocol: TCP
          port: 5001
          targetPort: 5001
